In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql
%load_ext sql
%sql sqlite:///chinook.db

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp311-cp311-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.22
    Uninstalling SQLAlchemy-2.0.22:
      Successfully uninstalled SQLAlchemy-2.0.22

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\SilverOak\\anaconda3\\Lib\\site-packages\\~qlalchemy\\cyextension\\collections.cp311-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Requirement already satisfied: ibm_db_sa in c:\users\silveroak\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\silveroak\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\silveroak\anaconda3\lib\site-packages (from ibm_db_sa) (3.2.0)
Requirement already satisfied: ipython-sql in c:\users\silveroak\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\silveroak\anaconda3\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\silveroak\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/04/88/39f1f5570eb1d28704b4954c97ee91c3b5604f2949ab8ed40b33c90aaad9/SQLAlchemy-2.0.22-cp311-cp311-win_amd64.whl.metadata
  Using cached SQLAlchemy-2.0.22-cp311-cp311-win_amd64.whl.metadata (9.7 kB)
Requirement already satisfied: sqlparse in c:\users\silveroak\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\silveroak\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\silveroak\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\silveroak\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\silveroak\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\silveroak\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\silveroak\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\silveroak\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\silveroak\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\silveroak\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\silveroak\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\silveroak\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\silveroak\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\silveroak\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\silveroak\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\silveroak\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\silveroak\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\silveroak\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\silveroak\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\silveroak\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Using cached SQLAlchemy-2.0.22-cp311-cp311-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.22

In [17]:
 #How many Elementary Schools are in the dataset?
%sql Select * from Chicago_Public_Schools
%sql select count(ElementaryMiddleorHighSchool)as NumberofElemntarySchools from Chicago_Public_Schools where ElementaryMiddleorHighSchool='ES' group by ElementaryMiddleorHighSchool

 * sqlite:///chinook.db
Done.
 * sqlite:///chinook.db
Done.

[(462,)]

In [23]:
# Display total number of elementary, middle and high school from Chicago_public_Schools
%sql Select ElementaryMiddleorHighSchool,count(ElementaryMiddleorHighSchool)as NumberofSchools from Chicago_Public_Schools group by ElementaryMiddleorHighSchool

 * sqlite:///chinook.db
Done.

[('ES', 462), ('HS', 93), ('MS', 11)]

In [29]:
#What is the highest Safety Score? #Which schools have highest Safety Score
%sql select NAME_OF_SCHOOL from Chicago_Public_Schools where SAFETY_SCORE=(SELECT max(SAFETY_SCORE)from Chicago_Public_Schools) group by SAFETY_SCORE

 * sqlite:///chinook.db
Done.

[('Abraham Lincoln Elementary School',)]

In [36]:
#Remove the '%' sign for Average Student Attendance column
%sql Select REPLACE(AVERAGE_STUDENT_ATTENDANCE,'%','')as Remove from Chicago_Public_Schools

 * sqlite:///chinook.db
Done.

[('96.00',),
 ('95.60',),
 ('95.70',),
 ('95.50',),
 ('93.30',),
 ('97.00',),
 ('96.30',),
 ('94.70',),
 ('92.70',),
 ('96.40',),
 ('96.30',),
 ('92.50',),
 ('95.30',),
 ('92.50',),
 ('94.90',),
 ('90.10',),
 ('94.60',),
 ('95.60',),
 ('80.30',),
 ('96.90',),
 ('96.30',),
 ('94.30',),
 ('91.40',),
 ('95.40',),
 ('94.60',),
 ('97.40',),
 ('91.80',),
 ('97.50',),
 ('94.60',),
 ('90.50',),
 ('95.50',),
 ('94.20',),
 ('92.80',),
 ('90.80',),
 ('94.80',),
 ('96.10',),
 ('87.90',),
 ('92.10',),
 ('95.50',),
 ('96.50',),
 ('76.00',),
 ('90.50',),
 ('70.10',),
 ('92.10',),
 ('60.90',),
 ('95.30',),
 ('83.70',),
 ('91.30',),
 ('95.50',),
 ('93.00',),
 ('88.90',),
 ('94.70',),
 ('80.20',),
 ('94.20',),
 ('90.60',),
 ('96.30',),
 ('92.30',),
 ('95.50',),
 ('94.90',),
 ('96.50',),
 ('81.20',),
 ('95.80',),
 ('91.70',),
 ('94.80',),
 ('91.90',),
 ('95.10',),
 ('86.00',),
 ('94.40',),
 ('95.70',),
 ('95.30',),
 ('93.40',),
 ('92.00',),
 ('94.90',),
 ('92.70',),
 ('79.20',),
 ('95.60',),
 ('89.20',),
 ('92.80',),
 ('93.80',),
 ('93.90',),
 ('93.80',),
 ('96.30',),
 ('93.10',),
 ('92.80',),
 ('90.30',),
 ('68.80',),
 ('95.90',),
 ('74.40',),
 ('95.50',),
 ('91.70',),
 ('92.50',),
 ('91.40',),
 ('95.40',),
 ('94.10',),
 ('95.20',),
 ('92.50',),
 ('95.90',),
 ('95.50',),
 ('91.90',),
 ('91.30',),
 ('94.70',),
 ('92.60',),
 ('91.60',),
 ('94.80',),
 ('86.10',),
 ('96.70',),
 ('90.70',),
 ('95.30',),
 ('97.30',),
 ('93.40',),
 ('95.10',),
 ('94.70',),
 ('92.90',),
 ('92.50',),
 ('94.60',),
 ('95.40',),
 ('94.20',),
 ('62.50',),
 ('97.60',),
 ('96.90',),
 ('96.10',),
 ('89.30',),
 ('92.90',),
 ('95.00',),
 ('93.40',),
 ('95.10',),
 ('95.30',),
 ('88.90',),
 ('93.30',),
 ('95.40',),
 ('78.40',),
 ('93.80',),
 ('84.30',),
 ('91.60',),
 ('89.70',),
 ('95.80',),
 ('95.60',),
 ('95.20',),
 ('95.10',),
 ('94.30',),
 ('90.60',),
 ('95.50',),
 ('84.80',),
 ('96.60',),
 ('88.00',),
 ('89.90',),
 ('95.80',),
 ('92.20',),
 ('95.40',),
 ('92.90',),
 ('96.80',),
 ('95.90',),
 ('96.10',),
 ('93.40',),
 ('96.80',),
 ('80.00',),
 ('96.30',),
 ('93.40',),
 ('90.00',),
 ('95.60',),
 ('93.40',),
 ('93.70',),
 ('95.10',),
 ('93.50',),
 ('90.60',),
 ('91.90',),
 ('91.90',),
 ('92.50',),
 ('91.90',),
 ('95.90',),
 ('96.60',),
 ('97.00',),
 ('95.80',),
 ('96.80',),
 ('96.90',),
 ('79.20',),
 ('94.70',),
 ('72.40',),
 ('94.70',),
 ('87.00',),
 ('72.50',),
 ('95.00',),
 ('92.00',),
 ('92.10',),
 ('96.30',),
 ('93.20',),
 ('96.30',),
 ('94.40',),
 ('71.30',),
 ('92.60',),
 ('91.00',),
 ('93.50',),
 ('93.90',),
 ('91.60',),
 ('90.90',),
 ('95.50',),
 ('80.20',),
 ('93.80',),
 ('93.60',),
 ('91.40',),
 ('95.90',),
 ('95.20',),
 ('91.90',),
 ('87.50',),
 ('95.00',),
 ('91.50',),
 ('89.30',),
 ('87.10',),
 ('95.80',),
 ('95.00',),
 ('96.10',),
 ('93.80',),
 ('96.20',),
 ('96.90',),
 ('93.80',),
 ('96.70',),
 ('96.20',),
 ('95.20',),
 ('96.20',),
 ('95.10',),
 ('91.80',),
 ('95.10',),
 ('72.00',),
 ('95.00',),
 ('72.20',),
 ('95.90',),
 ('92.60',),
 ('91.90',),
 ('70.50',),
 ('92.90',),
 ('93.20',),
 ('92.10',),
 ('92.20',),
 ('96.20',),
 ('92.90',),
 ('95.50',),
 ('95.50',),
 ('91.10',),
 ('92.10',),
 ('90.50',),
 ('95.40',),
 ('87.60',),
 ('94.20',),
 ('96.50',),
 ('96.20',),
 ('96.40',),
 ('95.40',),
 ('94.90',),
 ('95.10',),
 ('91.80',),
 ('95.50',),
 ('91.40',),
 ('93.20',),
 ('97.00',),
 ('92.20',),
 ('97.80',),
 ('94.70',),
 ('96.00',),
 ('88.90',),
 ('95.70',),
 ('94.10',),
 ('93.10',),
 ('91.30',),
 ('92.00',),
 ('95.80',),
 ('95.10',),
 ('95.10',),
 ('93.80',),
 ('95.60',),
 ('95.90',),
 ('95.60',),
 ('95.90',),
 ('95.60',),
 ('98.40',),
 ('93.20',),
 ('95.30',),
 ('92.90',),
 ('83.00',),
 ('94.10',),
 ('94.90',),
 ('78.20',),
 ('93.00',),
 ('92.90',),
 ('94.40',),
 ('95.40',),
 ('97.20',),
 ('96.20',),
 ('95.50',),
 ('95.70',),
 ('74.10',),
 ('81.20',),
 ('95.20',),
 ('92.40',),
 ('95.90',),
 ('96.30',),
 ('91.90',),
 ('96.20',),
 ('94.00',),
 ('93.50',),
 ('94.00',),
 ('95.30',),
 ('92.40',),
 ('95.90',),
 ('95.90',),
 ('95.60',),
 ('95.00',),
 ('95.80',),
 ('96.50',),
 ('96.10',),
 ('95.50',),
 ('96.40',),
 ('95.20',),
 ('95.40',),
 ('94.90',),
 ('95.00',),
 ('94.80',),
 ('95.80',),
 ('96.00',),
 ('90.50',),
 ('96.00',),
 ('83.40',),
 ('96.30',),
 ('74.40',),
 ('88.40',),
 ('87.70',),
 ('90.00',),
 ('96.80',),
 ('95.10',),
 ('96.10',),
 ('92.90',),
 ('91.00',),
 ('96.30',),
 ('94.70',),
 ('97.40',),
 ('91.80',),
 ('84.60',),
 ('95.00',),
 ('96.70',),
 ('95.10',),
 ('94.70',),
 ('95.20',),
 ('96.60',),
 ('92.60',),
 ('95.50',),
 ('95.00',),
 ('93.70',),
 ('89.20',),
 ('95.20',),
 ('95.40',),
 ('94.30',),
 ('92.50',),
 ('95.80',),
 ('66.80',),
 ('95.90',),
 ('94.00',),
 ('95.50',),
 ('96.80',),
 ('85.00',),
 ('91.30',),
 ('96.80',),
 ('97.10',),
 ('96.30',),
 ('93.10',),
 ('93.90',),
 ('95.50',),
 ('95.10',),
 ('94.90',),
 ('95.50',),
 ('95.50',),
 ('95.90',),
 ('94.40',),
 ('93.30',),
 ('90.40',),
 ('90.90',),
 ('95.10',),
 ('94.90',),
 ('91.80',),
 ('93.30',),
 ('94.60',),
 ('79.10',),
 ('91.50',),
 ('91.30',),
 ('95.70',),
 ('91.40',),
 ('84.20',),
 ('93.60',),
 ('80.40',),
 ('96.00',),
 ('93.30',),
 ('89.20',),
 ('92.10',),
 ('95.50',),
 ('94.50',),
 ('91.60',),
 ('92.90',),
 ('95.10',),
 ('94.70',),
 ('78.60',),
 ('80.20',),
 ('96.20',),
 ('75.60',),
 ('96.20',),
 ('81.70',),
 ('93.40',),
 ('93.90',),
 ('95.60',),
 ('88.60',),
 ('95.60',),
 ('95.70',),
 ('74.60',),
 ('89.80',),
 ('93.40',),
 ('95.50',),
 ('94.20',),
 ('96.40',),
 ('92.60',),
 ('87.00',),
 ('96.50',),
 ('97.60',),
 ('66.30',),
 ('92.20',),
 ('92.70',),
 ('95.00',),
 ('92.00',),
 ('94.90',),
 ('89.80',),
 ('95.10',),
 ('93.60',),
 ('76.90',),
 ('92.40',),
 ('73.50',),
 ('92.10',),
 ('96.20',),
 ('95.80',),
 ('96.20',),
 ('96.40',),
 ('93.90',),
 ('95.60',),
 ('92.10',),
 ('92.10',),
 ('96.00',),
 ('94.20',),
 ('96.10',),
 ('97.60',),
 ('94.90',),
 ('94.90',),
 ('86.30',),
 ('95.30',),
 ('95.00',),
 ('94.90',),
 ('94.40',),
 ('57.90',),
 ('93.70',),
 ('81.10',),
 ('96.00',),
 ('89.80',),
 ('95.10',),
 ('96.60',),
 ('90.70',),
 ('95.20',),
 ('92.70',),
 ('94.40',),
 ('69.60',),
 ('94.80',),
 ('81.60',),
 ('93.80',),
 ('90.70',),
 ('96.30',),
 ('92.40',),
 ('94.70',),
 ('95.10',),
 ('95.10',),
 ('95.40',),
 ('93.60',),
 ('96.30',),
 ('95.00',),
 ('93.90',),
 ('96.80',),
 ('90.90',),
 ('93.00',),
 ('96.40',),
 ('95.80',),
 ('89.50',),
 ('95.30',),
 ('93.60',),
 ('85.50',),
 ('92.50',),
 ('95.60',),
 ('96.20',),
 ('92.10',),
 ('95.60',),
 ('87.60',),
 ('96.40',),
 ('96.60',),
 ('96.20',),
 ('95.90',),
 ('87.30',),
 ('95.40',),
 ('90.80',),
 ('82.30',),
 ('92.10',),
 ('96.60',),
 ('91.20',),
 ('94.40',),
 ('95.20',),
 ('94.80',),
 ('95.20',),
 ('96.10',),
 ('89.30',),
 ('94.00',),
 ('95.80',),
 ('88.70',),
 (None,),
 ('92.80',),
 ('95.50',),
 ('84.50',),
 ('96.40',),
 ('95.10',),
 ('93.40',),
 ('95.50',),
 ('92.40',),
 ('86.10',),
 ('95.50',),
 ('95.60',),
 ('74.10',),
 ('93.90',),
 ('63.00',),
 ('92.10',),
 ('93.70',),
 ('91.20',),
 ('94.90',),
 ('94.60',),
 ('96.20',),
 ('94.90',),
 ('91.70',),
 ('96.90',),
 ('95.10',),
 ('96.10',),
 ('93.50',),
 ('93.30',),
 ('95.50',),
 ('95.20',),
 ('96.50',),
 ('92.80',),
 ('92.40',),
 ('89.10',),
 ('93.50',),
 ('95.10',),
 ('93.00',),
 ('95.70',),
 ('75.20',),
 ('95.30',),
 ('95.70',),
 ('93.80',),
 ('90.30',),
 ('91.80',),
 ('95.60',),
 ('95.60',),
 ('73.00',),
 ('91.60',),
 ('93.30',),
 ('92.30',),
 ('91.20',),
 ('95.20',),
 ('93.90',),
 ('91.60',)]

In [39]:
#Which Schools have Average Student Attendance lower than 70%?
%sql SELECT NAME_OF_SCHOOL from Chicago_Public_Schools where AVERAGE_STUDENT_ATTENDANCE<70

 * sqlite:///chinook.db
Done.

[('Barbara Vick Early Childhood & Family Center',),
 ('Chicago Vocational Career Academy High School',),
 ('Dyett High School',),
 ('Manley Career Academy High School',),
 ('Orr Academy High School',),
 ('Richard T Crane Technical Preparatory High School',),
 ('Roberto Clemente Community Academy High School',),
 ('Wendell Phillips Academy High School',)]

In [42]:
#Get the total College Enrollment for each Community Area.
%sql SELECT COMMUNITY_AREA_NAME,count(COLLEGE_ENROLLMENT)as COUNT from Chicago_Public_Schools group by COMMUNITY_AREA_NAME

 * sqlite:///chinook.db
Done.

[('ALBANY PARK', 8),
 ('ARCHER HEIGHTS', 2),
 ('ARMOUR SQUARE', 3),
 ('ASHBURN', 8),
 ('AUBURN GRESHAM', 10),
 ('AUSTIN', 23),
 ('AVALON PARK', 3),
 ('AVONDALE', 4),
 ('BELMONT CRAGIN', 12),
 ('BEVERLY', 4),
 ('BRIDGEPORT', 5),
 ('BRIGHTON PARK', 8),
 ('BURNSIDE', 1),
 ('CALUMET HEIGHTS', 6),
 ('CHATHAM', 9),
 ('CHICAGO LAWN', 7),
 ('CLEARING', 4),
 ('DOUGLAS', 11),
 ('DUNNING', 6),
 ('EAST GARFIELD PARK', 13),
 ('EAST SIDE', 5),
 ('EDGEWATER', 6),
 ('EDISON PARK', 2),
 ('ENGLEWOOD', 17),
 ('FOREST GLEN', 3),
 ('FULLER PARK', 2),
 ('GAGE PARK', 10),
 ('GARFIELD RIDGE', 5),
 ('GRAND BOULEVARD', 8),
 ('GREATER GRAND CROSSING', 10),
 ('HEGEWISCH', 2),
 ('HERMOSA', 4),
 ('HUMBOLDT PARK', 13),
 ('HYDE PARK', 4),
 ('IRVING PARK', 9),
 ('JEFFERSON PARK', 2),
 ('KENWOOD', 7),
 ('LAKE VIEW', 11),
 ('LINCOLN PARK', 7),
 ('LINCOLN SQUARE', 5),
 ('LOGAN SQUARE', 11),
 ('LOOP', 1),
 ('LOWER WEST SIDE', 11),
 ('MCKINLEY PARK', 4),
 ('MONTCLARE', 1),
 ('MORGAN PARK', 5),
 ('MOUNT GREENWOOD', 4),
 ('NEAR NORTH SIDE', 7),
 ('NEAR SOUTH SIDE', 3),
 ('NEAR WEST SIDE', 16),
 ('NEW CITY', 13),
 ('NORTH CENTER', 7),
 ('NORTH LAWNDALE', 16),
 ('NORTH PARK', 5),
 ('NORWOOD PARK', 8),
 ('OAKLAND', 1),
 ('OHARE', 1),
 ('PORTAGE PARK', 7),
 ('PULLMAN', 5),
 ('RIVERDALE', 4),
 ('ROGERS PARK', 6),
 ('ROSELAND', 13),
 ('SOUTH CHICAGO', 7),
 ('SOUTH DEERING', 4),
 ('SOUTH LAWNDALE', 22),
 ('SOUTH SHORE', 9),
 ('UPTOWN', 7),
 ('WASHINGTON HEIGHTS', 9),
 ('WASHINGTON PARK', 5),
 ('WEST ELSDON', 3),
 ('WEST ENGLEWOOD', 13),
 ('WEST GARFIELD PARK', 8),
 ('WEST LAWN', 4),
 ('WEST PULLMAN', 10),
 ('WEST RIDGE', 9),
 ('WEST TOWN', 20),
 ('WOODLAWN', 8)]

In [43]:
# Get the 5 Community Areas with the least College Enrollment sorted in ascending order
%sql SELECT COMMUNITY_AREA_NAME,count(COLLEGE_ENROLLMENT)as COUNT from Chicago_Public_Schools group by COMMUNITY_AREA_NAME order by count(COLLEGE_ENROLLMENT)LIMIT 5

 * sqlite:///chinook.db
Done.

[('BURNSIDE', 1), ('LOOP', 1), ('MONTCLARE', 1), ('OAKLAND', 1), ('OHARE', 1)]

In [57]:
#Display ZIPCodes from Chicago_Schools which are having more than 5 schools

%sql SELECT ZIPCode,count(ZIPCode)as Count from Chicago_Public_Schools group by ZIPCode having count(ZIPCode)>5 order by COUNT DESC

 * sqlite:///chinook.db
Done.

[(60623, 35),
 (60628, 24),
 (60609, 23),
 (60617, 22),
 (60612, 20),
 (60624, 18),
 (60622, 18),
 (60621, 18),
 (60620, 18),
 (60608, 18),
 (60637, 17),
 (60629, 17),
 (60619, 17),
 (60644, 16),
 (60643, 16),
 (60632, 16),
 (60618, 15),
 (60636, 14),
 (60625, 14),
 (60647, 13),
 (60616, 13),
 (60639, 12),
 (60634, 12),
 (60653, 11),
 (60651, 11),
 (60615, 11),
 (60641, 10),
 (60638, 9),
 (60652, 8),
 (60613, 8),
 (60640, 7),
 (60614, 7),
 (60610, 7),
 (60659, 6),
 (60657, 6),
 (60649, 6),
 (60631, 6),
 (60626, 6)]

In [83]:
#Get the hardship index for the community area which has the school with the highest enrollment
#%sql SELECT HARDSHIP_INDEX from Census_Data as CD WHERE (SELECT max(COLLEGE_ENROLLMENT)as m from Chicago_Public_Schools as CPS group by COMMUNITY_AREA_NAME)JOIN CD.COMMUNITY_AREA_NAME=CPS.COMMUNITY_AREA_NAME

%sql select hardship_index from census_data as a, (SELECT COMMUNITY_AREA_Name ,sum(COLLEGE_ENROLLMENT)as m from Chicago_Public_Schools as CPS group by COMMUNITY_AREA_NAME order by m DESC LIMIT 1) as b where upper(a.community_area_name) = upper(b.community_area_name)

 * sqlite:///chinook.db
Done.

[(96,)]

In [87]:
 #Display the type of crimes with less than 10 reported crimes for each category.
%sql SELECT PRIMARY_TYPE as typeofcrime,count(PRIMARY_TYPE)as count from Chicago_Crime_Data group by PRIMARY_TYPE having count(PRIMARY_TYPE)<10 order by count desc

 * sqlite:///chinook.db
Done.

[('WEAPONS VIOLATION', 6),
 ('PROSTITUTION', 6),
 ('PUBLIC PEACE VIOLATION', 5),
 ('OFFENSE INVOLVING CHILDREN', 4),
 ('SEX OFFENSE', 3),
 ('CRIM SEXUAL ASSAULT', 3),
 ('LIQUOR LAW VIOLATION', 2),
 ('INTERFERENCE WITH PUBLIC OFFICER', 2),
 ('HOMICIDE', 2),
 ('GAMBLING', 2),
 ('ARSON', 2),
 ('STALKING', 1),
 ('RITUALISM', 1),
 ('PUBLIC INDECENCY', 1),
 ('OTHER NARCOTIC VIOLATION', 1),
 ('OBSCENITY', 1),
 ('NON-CRIMINAL (SUBJECT SPECIFIED)', 1),
 ('NON-CRIMINAL', 1),
 ('NON - CRIMINAL', 1),
 ('KIDNAPPING', 1),
 ('INTIMIDATION', 1),
 ('HUMAN TRAFFICKING', 1),
 ('DOMESTIC VIOLENCE', 1),
 ('CONCEALED CARRY LICENSE VIOLATION', 1)]

In [88]:
#: Display the top 20 least reported types of crime
%sql SELECT PRIMARY_TYPE as typeofcrime,count(PRIMARY_TYPE)as count from Chicago_Crime_Data group by PRIMARY_TYPE order by count LIMIT 20

 * sqlite:///chinook.db
Done.

[('CONCEALED CARRY LICENSE VIOLATION', 1),
 ('DOMESTIC VIOLENCE', 1),
 ('HUMAN TRAFFICKING', 1),
 ('INTIMIDATION', 1),
 ('KIDNAPPING', 1),
 ('NON - CRIMINAL', 1),
 ('NON-CRIMINAL', 1),
 ('NON-CRIMINAL (SUBJECT SPECIFIED)', 1),
 ('OBSCENITY', 1),
 ('OTHER NARCOTIC VIOLATION', 1),
 ('PUBLIC INDECENCY', 1),
 ('RITUALISM', 1),
 ('STALKING', 1),
 ('ARSON', 2),
 ('GAMBLING', 2),
 ('HOMICIDE', 2),
 ('INTERFERENCE WITH PUBLIC OFFICER', 2),
 ('LIQUOR LAW VIOLATION', 2),
 ('CRIM SEXUAL ASSAULT', 3),
 ('SEX OFFENSE', 3)]